<mat-card *ngIf="canRegister">
  <p>Diese App kann Pushbenachrichtigungen anzeigen, wenn Aufgaben abgeschlossen wurden. Möchten Sie dies aktivieren?</p>
  <button mat-raised-button color="primary" (click)="registerForPush()">Ja, bitte informieren</button>
</mat-card>

<mat-selection-list (selectionChange)="toggleTodo($event)">
  <mat-list-option checkboxPosition="before" *ngFor="let todo of todos" [value]="todo" [selected]="todo.done">
    {{ todo.title }}
  </mat-list-option>
</mat-selection-list>

<button mat-fab (click)="addTodo()">
  <mat-icon aria-label="To-do einfügen">add</mat-icon>
</button>
