<mat-form-field>
  <input matInput placeholder="To-do-Titel" #textbox>
</mat-form-field>
<button mat-button (click)="addTodo(textbox.value)">Einfügen</button>
<button mat-button (click)="sync()">Synchronisieren</button>
<button mat-button (click)="registerForPush()" *ngIf="canRegister">Bei abgeschlossenen Aufgaben informieren</button>

<mat-selection-list (selectionChange)="toggleTodo($event)">
  <mat-list-option checkboxPosition="before" *ngFor="let todo of todos" [value]="todo" [selected]="todo.done">
    {{ todo.title }}
  </mat-list-option>
</mat-selection-list>
